.App {
  text-align: center;
}

.app-container {
  background-image: linear-gradient(rgb(102, 101, 101), rgb(0, 0, 0));
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media (max-width: 1000px) {
  .app-container { 
      flex-direction: column;
  }
  .card-info {
    margin: 10px;
  } 
  .card-profile {
    width: 450px;
    img {
      width: 450px;
    }
  }
  .menu {
    li {
      float: left;
      margin: 13px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
 } 
 @media (min-width: 1000px) { 
  .app-container {
    flex-direction: row; 
  }
  .menu {
    li {
      border-top: 0.1vw groove;
    }
    li:first-child {
      border-top: 0vw;
    }
  }
  .card-info {
    min-width: 670px;
  }
 }


.menu {
  background-color: white;
  margin-right: 1%;
  margin-bottom: 10%;
  font-size: large;
  border-radius: 8px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li { 
      padding: 5px;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: small;
      text-decoration: none;
      color: black;
      padding: 12px 5px 12px 5px;
    }
    a:hover, a.active{
      color: rgb(0, 0, 0);
    }
  }
  
}

.card-profile {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 580px;
  /* filter: drop-shadow(5px 5px 10px rgb(0, 0, 0)); */
  border-radius: 5px;
  .card-bottom { 
    border-top: 0.1vw groove;
    margin-top: auto;
    margin-bottom: 3%;
    a {
      text-decoration: none;
      font-size:large;
      color: black;
    }
    a:hover {
      color: rgb(0, 0, 0);
    }
  }
  .img-profile {
    clip-path: polygon( 0 0, 100% 0, 100% 75%, 50% 90%, 0 75%);
    img {
      border-radius: 5px 5px 0px 0px;
      width: 320px;
      height: 400px;
    }
  }
 .profile-name {
  margin-top: 1%;
  margin-bottom: auto;
 }
}

.card-info {
  background-color: white;
  max-width: 670px;
  height: 560px;
  filter: drop-shadow(0px 5px 5px 10px rgb(208, 208, 208));
  border-radius: 0px 5px 5px 0px;
  color: black;
}